@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #42ee87 50%, #1a2540 50%);
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  margin-block-start: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
/* Music Navbar */
.music-nav {
  height: 100%;
  position: absolute;
  background-color: white;
  width: 350px;
  opacity: 0.4;
  transition: 300ms ease-in-out;
  transform: translateX(-100%);
  z-index: 2;
  overflow-y: scroll;
}
.music-nav.slide {
  opacity: 1;
  transition: 300ms ease-in-out;
  display: inherit;
  transform: translateX(0);
}
.music-nav .music-list {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 10px;
}
.music-banner {
  cursor: pointer;
}
.music-nav .music-list img {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
/* Music Main */
.music-player {
  position: absolute;
  font-size: 16px;
  width: 80vw;
  max-width: 25em;
  background-color: white;
  padding: 3em 0.8em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0.6em 1.2em 3em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-player .album img {
  width: 320px;
  height: 320px;
  border-radius: 5px;
}
.music-player .album-title {
  margin-top: 5px;
  text-align: center;
  line-height: 4px;
}
.music-player .album-title p {
  font-size: 14px;
}
/* Music List */
.menu-toggle {
  position: absolute;
  cursor: pointer;
  margin-top: 50px;
  height: 40px !important;
  width: 120px !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 23px;
  justify-content: space-evenly;
  z-index: 10;
}

.menu-toggle span {
  margin-top: 6px;
  display: block;
  width: 38px;
  height: 5px;
  background-color: #081536;
  border-radius: 3px;
  transition: all 0.5s;
  z-index: 1;
}
.menu-toggle input {
  position: absolute;
  width: 50px;
  top: 5px;
  height: 38px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
/* Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ .menu-1 {
  transform: rotate(50deg) translate(-2px, 1px);
}
.menu-toggle input:checked ~ .menu-2 {
  opacity: 0;
  transform: translateX(-50px);
}
.menu-toggle input:checked ~ .menu-3 {
  opacity: 1;
  transform: rotate(-50deg) translate(-2px, -1px);
}
.player {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.25em;
  margin: 1.25em 0 0.6em 0;
}
.player button {
  border: none;
  background: transparent;
}
#play,
#pause {
  height: 2.5em;
  width: 2.5em;
  font-size: 1.8em;
  color: white;
  background-color: #42ee87;
  border-radius: 50%;
}
#prev,
#next {
  color: #081536;
  font-size: 1.4em;
}
#shuffle,
#repeat {
  color: #bdbdbd;
  font-size: 1em;
}
.hide {
  display: none;
}
.bar {
  margin-top: 0.5em;
  position: relative;
  width: 80%;
  height: 0.3em;
  background-color: #d8d8d8;
  cursor: pointer;
  border-radius: 0.18em;
}
#current {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-block;
  height: 100%;
  width: 20%;
  background-color: #42ee87;
  border-radius: 0.18em;
}
#time {
  margin-top: 01em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
#repeat.pressed,
#shuffle.pressed {
  color: #6c6b6b;
}
@media screen and (max-width: 480px) {
  .music-nav {
    width: 100vw;
  }
}
